body {
    background: rgba(191, 191, 191, 1);
    font-size: 23px;
    height: 100%;
    font-family: 'Ek Mukta';
}

.recipes {
    background: #fe853e;
    color: rgba(59, 59, 59, 1);
    width: 30%;
    min-height: 500px;
    max-height: 80%;
    overflow-x: auto;
    display: 'inline-block';
    margin-left: 5%;
    padding: 10px;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 1);
}

#root {
    margin-top: 50px;
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(191, 191, 191, 0.8);
}

.popup form {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 10%;
    border-radius: 0.2em;
    background:#292929;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 1);
}

label p {
    font-size: 25px;
    color: white;
}

.recipe h3:hover {
    cursor: pointer;
}

textarea, input {
    background: #d8ccc5;
    font-size: 19px;
}

textarea[name="IngredientsAdd"], textarea[name="IngredientsEdit"] {
    width: 60%;
}

textarea[name="ExecutionAdd"], textarea[name="ExecutionEdit"] {
    width: 60%;
    height: 100px;
}

/*Styling the buttons*/
button:hover {
    cursor: pointer;
}

.recipes button {
    background: #6fdb48;
    display: 'inline-block';
    font-family: 'Ek Mukta';
    margin-left: 30px;
    font-size: 24px;
    width: 40%;
    height: 50px;
}

.details {
    position: absolute;
    min-height: 55%;
    max-height: 800px;
    border-radius: 0.2em;
    overflow-x: auto;
    width: 30%;
    padding: 20px;
    left: 40%;
    top: 18%;
    background: #8ccc75;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 1);
}

.details li, .details p {
    font-family: "Gloria Hallelujah"
}

hr {
    border-color: #737373;
}


